BOT_DEV_ID=1927996831
BOT_EMOJI_ID=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

BOT_TOKEN=***********
BOT_GROUP_ID=-100*******

API_URL=https://admin.example.com/shm/v1/public/bot_api
BOT_USERNAME=YOUR_BOT_USERNAME
BOT_NAME=My Project Name

REMNAWAVE_API_URL=https://remnawave.example.com/api
REMNAWAVE_API_KEY=your_api_key_here
